@layout('master')

@section('csv')

<div class="container">
    <hr/>
        <h2 style="text-align: center;"><span style="color: #2aa5d6;">Clima</span></h2>
    <hr/>
</div>

<br>

<div class="container">
</div>

@entryPointScripts('clima')

@end