<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link  rel="icon"   href="../img/Nubeysolcoloresoriginales.svg" type="image/png" />

  <title>MonitoreoCA</title>
  <!--Bootstrap-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
 
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
 
  <!--AXIOS-->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

   <!--Mapbox -->
   <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
   <link href="https://api.mapbox.com/mapbox-gl-js/v2.9.2/mapbox-gl.css" rel="stylesheet">
   <script src="https://api.mapbox.com/mapbox-gl-js/v2.9.2/mapbox-gl.js"></script>
  
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>
<body>

  <!--Views-->
  <!--Admin-->
  @!section('login')
  @!section('station')
  @!section('sponsor')
  @!section('pollutant')
  @!section('model')
  @!section('suburb')
  @!section('report')
  @!section('ailment')
  @!section('location')
  @!section('json')
  <!--Airelimpio-->
  @!section('map')
  @!section('mapAil')
  @!section('historics')
  

  <!--Bootstrap Bundle-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
 
  <!--Sweet Alert 2-->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <!--Xlsx-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.2/xlsx.min.js"></script>
  <!-- Moments -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.2/locale/es.js"></script>
</body>
</html>
