@layout('master')

@section('pollutant')

<div class="container">
    <hr/>
        <h2 style="text-align: center;"><span style="color: #2aa5d6;">Contaminantes</span></h2>
    <hr/>
</div>

<br>
<div class="container">
    <div class="col col-4 align-self-end">
        <div class="d-grid gap-2 mx-auto ">
            <button class="btn btn-primary" id="modalNuevoContaminante" data-bs-toggle="modal" data-bs-target="#ContaminanteModal">Agregar Nuevo</button>
        </div>
    </div>
    <br>
    
    <div id="CardsContaminante">
        <div class="row row-cols-3  ">
            @each(pollutant in pollutants)
            <div class="col">
                <div class="card {{ pollutant.id }}" name='tarjeta' style="margin-bottom:2rem">
                    <h5 class="card-header">{{ pollutant.name }}</h5>
                    <div class="card-body">
                        <h5 class="card-title">Descripción</h5>
                        <p>{{ pollutant.description }}</p>
                        
                        <div class="row mx-auto">
                            <div class="col col-6 d-grid gap-2 mx-auto">
                                <button id="modalEditContaminante" onclick="showPollutant({{ pollutant.id }},'{{pollutant.name}}','{{pollutant.description}}')" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#ContaminanteEditModal">Editar</button>
                            </div>
                            <div class="col col-6 d-grid gap-2 mx-auto">
                                <button id="btnEliminarContaminante" class="btn btn-danger" onclick="deletePollutant({{ pollutant.id }})">Eliminar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            @endeach
        </div>
    </div>


    <!-- MODAL NUEVO CONTAMINANTE -->
    <div class="container-fluid">
        <div class="modal fade" id="ContaminanteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <form  method="POST" id="formStorePullatant">
                        <div class="modal-header">
                            <h2>Agregar Contaminante</h2>
                        </div>
                        <div class="modal-body">
                            <div>
                                <label for="name">Nombre:</label>
                                <input class="form-control" type="text" name="name" id="name" required min="1" max="25">
                            </div>
                            <div>
                                <label for="description">Descripción:</label>
                                <textarea class="form-control" name="description" id="description" style="height: 100px" max="50"></textarea>
                            </div>
                        </div>
                        
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-outline-primary" data-bs-dismiss="modal" id="btnCreatePollutant" name="btnCreatePollutant">Aceptar</button>
                            <button class="btn btn-outline-primary" name="btnCancelPollutant" id="btnCancelPollutant" data-bs-dismiss="modal">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL EDITAR CONTAMINANTE -->
    <div class="container-fluid">
        <div class="modal fade" id="ContaminanteEditModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <form  method="POST" id="formEditPullatant">
                        <div class="modal-header">
                            <h2>Editar Nombre Contaminante</h2>
                        </div>
                        <div class="modal-body">
                            <div>
                                <label for="txtNamePollutant">Nombre:</label>
                                <input class="form-control" type="text" name="txtNamePollutantEdit" id="txtNamePollutantEdit" required min="1" max="25">
                            </div>
                            <div>
                                <label for="txtDescriptionPollutant">Descripción:</label>
                                <textarea class="form-control" name="txtDescriptionPollutantEdit" id="txtDescriptionPollutantEdit" style="height: 100px" max="50"></textarea>
                            </div>
                        </div>
                            
                        <div class="modal-footer">
                            <button class="btn btn-outline-primary" type="submit" data-bs-dismiss="modal" id="btnEditarPollutant" name="btnEditarPollutant">Aceptar</button>
                            <button class="btn btn-outline-primary" name="btnCancelarPollutant" id="btnCancelarPollutant" data-bs-dismiss="modal">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
@entryPointScripts('pollutant')
<script>
    let idCont=0;

    function notificationSwal(message,type){
        Swal.fire({
            text:message,
            icon: type,
            timer:1000,
            timerProgressBar: true
        }).then((result)=>{
            location.reload();
        });
    }
    function requestAxios(url,method,data){
        axios({
            url:url,
            method:method,
            data:data
        })
        .then(response=>{
            console.log(response.data)
            this.notificationSwal(response.data,'success')
        })
        .catch(error=>{
            console.log(error)
            this.notificationSwal(error,'error')
        })
    }

    function deletePollutant(id){
        if(id!=0){
            Swal.fire({
                title: 'Está seguro de eliminar este elemento?',
                showCancelButton: true,
                confirmButtonText: `Eliminar`,
                denyButtonText: `Cancelar`,
            }).then((result)=>{
                if (result.isConfirmed){
                    let url='pollutant/delete'
                    let method='POST'
                    let dat={
                        id:id
                    }
                    this.requestAxios(url,method,dat)
                }
            })
        }
    }

    function showPollutant(id,name,description){
        idCont=id;
        document.getElementById('txtNamePollutantEdit').value=name
        document.getElementById('txtDescriptionPollutantEdit').value=description
    }

    document.getElementById('formEditPullatant')
    .addEventListener('submit',e =>{
        e.preventDefault()

        let url='/pollutant/edit'
        let method='POST'
        let dat={
            id:idCont,
            name:document.getElementById('txtNamePollutantEdit').value.trim(),
            description:document.getElementById('txtDescriptionPollutantEdit').value.trim()
        }
        //alert(JSON.stringify(dat))
        this.requestAxios(url,method,dat)
    })
</script>
@end