@layout('master')
@section('historics_fwop')
@include('navbarpublic')

<div class="container">
    <hr/>
        <h2 style="text-align: center;"><span style="color: #2aa5d6;">Históricos de contaminación</span></h2>
    <hr/>
</div>


@include('footer')   
@entryPointScripts('historics_fwop')
@end